
<div class="col-6 home">
    <h3 class="title">PROTECT & SERVE</h3>
</div>

<div class="card">
    <h4>Function and duties</h4>
    <p>&emsp;&ensp;The BFP is responsible for ensuring public safety through the 
        prevention or suppression of all destructive fires on buildings, houses, and 
        other similar structure, forests, and land transportation vehicles and equipment, 
        ships/vessels docked at piers, wharves or anchored at major seaports, petroleum 
        industry installations. It is also responsible for the enforcement of the Fire 
        Code of the Philippines (PD 1185) and other related laws, conduct investigations 
        involving fire incidents and causes thereof including the filing of appropriate 
        complaints/cases. According to its website, the primary functions of the BFP are
        <ul>
            <li>Prevention and suppression of all destructive fires;</li>
            <li>Enforcement of the Revised Implementing Rules and Regulations (RIRR) of the Repubic Act 
                No. 9514 otherwise known as the Fire Code of the Philippines (PD 1185) other related laws;
            </li>
            <li>Investigate the causes of fires and if necessary, file a complaint to the city or provincial 
                prosecutor relating to the case;
            </li>
            <li>In events of national emergency, will assist the military on the orders of the President of the Philippines;</li>
            <li>And establish at least one fire station with all personnel and equipment per municipality and provincial capital.</li>
        </ul>
    </p>
    <h4>History</h4>
    <p>&emsp;&ensp;The BFP was formed from the units of the intergrated National Police's Office of Fire Protection Service on 
        January 29, 1991 through Republic Act No. 6975, which created the present interior Department and placed the provision of 
        fire services under its control.
    </p>
    <p>&emsp;&ensp;Republic Act No. 6975, or the Department of interior and Local Government Act of 1990, took effect on January 1, 1991 and paved 
        the way for the establishment of the Philippine National Police, BFP and Bureau of Jail Management and Penology as separate entities. 
        Specifically, the Fire Bureau's charter was created under Chapter IV (Section 53 to 59) of the Implementing Rules and Regulations of 
        the act. The organization was then placed under the direct supervision of the DILG undersecretary for peace as a distinct agency of the 
        government, with the initial preparation of its operation plans and budget (OPB) by F/Brigadier General Ernesto Madriaga, INP (1990-1992), 
        which took over from the long reign of F/Major Primo D. Cordeta (Ret.), the first chief fire marshal (1978-1989). Madriaga served as the 
        BFP's first acting fire chief/director from 1991 to 1992.
    </p>
</div>