<div class="row justify-between">
    <div class="col-6 home">
        <h3 class="title">PROTECT & SERVE</h3>
    </div>
    <div class="home">
        <button id="update-about" class="btn-update-about">Update</button>
    </div>
</div>

<div class="card">
    <div id="texts" contenteditable="false">
        
    </div>
    <img alt="" id="aboutimg">
</div>

<input type="file" hidden accept="image/png, image/gif, image/jpeg" id="default-btn">
<button type="button" hidden class="btn-primary" id="custom-btn-about">Choose an image</button>
<script src="../../assets/js/about.js"></script>