<div class="attendance" style="padding: 10px; flex-direction: column!important;">
    <label>Personnel name</label>
    <input list="personnels" name="personnel" placeholder="Last name, First name" class="form-control">
    <datalist id="personnels">
    </datalist>
    <button class="btn-default" id="submit-attendance">Submit</button>
</div>

<script>
    $(function(){
        $.ajax({
            url: "route/getPersonnel",
            success: function(data){
                $("#personnels").html(data)
            }
        })
    })
</script>