<div class="attendance" style="padding: 10px; flex-direction: column!important;">
    <label>Personnel name</label>
    <input list="personnels" name="personnel" class="form-control">
    <datalist id="personnels">
    </datalist>
    <button class="btn-primary" id="submit-attendance">Submit</button>
</div>

<script>
    $(function(){
        $.ajax({
            url: "route/getPersonnel",
            success: function(data){
                console.log(data)
                $("#personnels").html(data)
            }
        })

        $("#submit-attendance").click(function(){
            
        })
    })
</script>