<div class="card">
    <form method="">
        <div class="row hv-center">
            <div class="form-group">
                <label for="" class="label-sm">Disaster</label>
                <input type="text" required name="disaster" class="cont-row form-control">
            </div>
            <div class="form-group">
                <label for="" class="label-sm">Location</label>
                <input type="text" required name="location" class="cont-row form-control">
            </div>
            <div class="form-group">
                <label for="" class="label-sm">Date</label>
                <input type="date" name="date" class="cont-row form-control">
            </div>
            <button class="btn-primary" style="padding: 4px 17px">Submit</button>
        </div>
        <div class="flex-col">
            <label for="" class="label-sm">Summary</label>
            <textarea name="summary" class="form-control txtarea"></textarea>
        </div>
    </form>
</div>
<div class="row">
    <div id="activity" class="col-4 home">
        <h3 class="title">RECENT ACTIVITY</h3>
    </div>
    <div id="location" class="col-4 home">
        <h3 class="title">LOCATION</h3>
    </div>
    <div id="date" class="col-4 home">
        <h3 class="title">DATE OF INCIDENT</h3>
    </div>
</div>
<script>
    $(function(){

        function msg(type,msg){
            $("body").append("<div class='alert'><div class='"+type+"'><a>"+msg+"</a></div></div>")
            setTimeout(()=>{
                $(".alert").css("opacity","0")
            },1700)
            setTimeout(()=>{
                $(".alert").remove()
            },3000)
        }
        
        $(".txtarea").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;")
        }).on("input", function () {
            this.style.height = 0
            this.style.height = (this.scrollHeight) + "px"
        })
        var now = new Date()
        var month = (now.getMonth() + 1)               
        var day = now.getDate()
        if (month < 10) 
            month = "0" + month
        if (day < 10) 
            day = "0" + day
        var today = now.getFullYear() + '-' + month + '-' + day
        $('input[name="date"]').val(today)
        $.ajax({
            url: "route/aclist",
            dataType: "JSON",
            success: function(result){
                $("#activity").append(result.activity)
                $("#location").append(result.location)
                $("#date").append(result.date)
            }
        })
        $("form").submit(function(e){
            e.preventDefault();
            $.ajax({
                url: "route/inAc",
                type: "POST",
                data: new FormData(this),
                dataType: "JSON",
                contentType: false,
                cache: false,
                processData: false,
                success: function(result){
                    result ? success() : msg("aerror","Sorry we have a problem about the database connection")
                }
            })
        })
        function success(){
            msg("asuccess","The report has been sent") 
            $(".form-control").each(function(){
                $(this).val("")
            })
            $('input[name="date"]').val(today)
            $(".txtarea").css("height","26px")
        }
    })
</script>