<div class="card">
    <form method="">
        <div class="hv-center">
            <button class="btn-primary" style="padding: 4px 17px">Submit</button>
            <div class="row">
                <div class="form-group">
                    <h3 class="grid-title">Time/Date receive call</h3>
                    <input type="datetime-local" id="birthdaytime" class="cont-row form-control" name="receivecall">
                </div>
                <div class="form-group">
                    <h3 class="grid-title">Location</h3>
                    <input type="text" name="location" class="cont-row form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <h3 class="grid-title">Time Dispatched</h3>
                    <input type="time" name="dispatched" class="cont-row form-control">
                </div>
                <div class="form-group">
                    <h3 class="grid-title">Time of arrival scene:</h3>
                    <input type="time" name="arrivalscene" class="cont-row form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <h3 class="grid-title">Alarm Status</h3>
                    <input type="text" name="alarmstatus" class="cont-row form-control">
                </div>
                <div class="form-group">
                    <h3 class="grid-title">Time of fire out</h3>
                    <input type="time" name="fireout" class="cont-row form-control">
                </div>           
            </div>
            <div class="row">
                <div class="form-group">
                    <h3 class="grid-title">Type of occupancy</h3>
                    <input type="text" name="occupancy" class="cont-row form-control">
                </div>
                <div class="form-group">
                    <h3 class="grid-title">Fatality/Casualty</h3>
                    <input type="text" name="fatality" class="cont-row form-control">
                </div>
            </div>
            <div class="row">     
                <div class="form-group">
                    <h3 class="grid-title">Estimated damage</h3>
                    <input type="text" name="damage" class="cont-row form-control">
                </div>
                <div class="form-group">
                    <h3 class="grid-title">Cause</h3>
                    <input type="text" name="cause" class="cont-row form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <h3 class="grid-title">Time returned to unit</h3>
                    <input type="text" name="returnedunit" class="cont-row form-control">
                </div>
                <div class="form-group">
                    <h3 class="grid-title">Ground commander</h3>
                    <input type="text" name="commander" class="cont-row form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <h3 class="grid-title">Commander Contact</h3>
                    <input type="text" name="commandercontact" class="cont-row form-control">
                </div>
                <div class="form-group">
                    <h3 class="grid-title">Name of sender</h3>
                    <input type="text" name="sender" class="cont-row form-control">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <h3 class="grid-title">Contact</h3>
                    <input type="text" name="contact" class="cont-row form-control">
                </div>
                <div class="form-group">
                    <h3 class="grid-title">No. Fire Trucks</h3>
                    <input type="number" name="firetruck" class="cont-row form-control">
                </div>
            </div>
            <div class="f-width">
                <div class="form-group">
                    <h3 class="grid-title">Summary</h3>
                    <textarea name="summary" id="" class="cont-row from-control"></textarea>
                </div>
            </div>
        </div>
        <div class="flex-col mb-5" id="available"></div>
        <div class="flex-col mt-10">
            <div class="img-wrapper">
                <img alt="" id="summaryimg">
                <input type="text" name="image" hidden id="imgtext">
                <input type="file" hidden accept="image/png, image/gif, image/jpeg" id="default-btn">
                <button type="button" id="custom-btn">Choose an image</button>
            </div>
        </div>
    </form>
</div>
<div id="recent" hidden>
<div class="row">
    <div id="activity" class="col-4 home">
        <h3 class="title">RECENT ACTIVITY</h3>
    </div>
    <div id="location" class="col-4 home">
        <h3 class="title">LOCATION</h3>
    </div>
    <div id="date" class="col-4 home">
        <h3 class="title">DATE OF INCIDENT</h3>
    </div>
</div>
<div class="row wrap img-cont">
</div>
</div>
<script>
    $(function(){
        // 👉️👇️👈️
        $("textarea").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
        }).on("input", function () {
            this.style.height = 0;
            this.style.height = (this.scrollHeight) + "px";
        });
        const clearform = ()=>{
            $(".form-control").each(function(){
                $(this).val("")
                $("#summaryimg").attr("src","")
                $("#imgtext").val("")
            })
            $('input[name="date"]').val(today)
        },
        available = ()=>{
            $.ajax({
            url: 'route/getAvailable',
            success: function(e){
                $("#available").html(e)
                $("#vehicle").children().each(function(){
                        $(this).click(function(){
                            if($(this).attr('class') != 'row-active'){
                                $(this).attr('class','row-active')
                                .children()
                                .children()
                                .children().text('✅').attr('class','check')
                            }else{
                                $(this).attr('class','')
                                .children()
                                .children()
                                .children().text('❏').attr('class','')
                            }
                        })
                    })

                    $(".bc").children().each(function(){
                        let b = true
                        $(this).click(function(){
                            if(b){
                                b = false
                                $(this).children().addClass('t-active')
                            }else{
                                b = true
                                $(this).children().removeClass('t-active')
                            }
                        })
                    })
            }
        })
        }
        available()
        $("#custom-btn").click(function(){
            $("#default-btn").click()
        })
        
        $("#default-btn").change(function(){
            const file = this.files[0]
            if(file){
                const reader = new FileReader()
                reader.onload = function(){
                    const result = reader.result
                    $("#summaryimg").attr("src",result)
                    $("#imgtext").val(result)
                }
                reader.readAsDataURL(file)
            }
        })
        function msg(type,msg){
            $("body").append("<div class='alert'><div class='"+type+"'><a>"+msg+"</a></div></div>")
            setTimeout(()=>{
                $(".alert").css("opacity","0")
            },1700)
            setTimeout(()=>{
                $(".alert").remove()
            },3000)
        }
        const showCard=()=>{
            $(".card").show()
            $("#recent").hide()
        },
        hideCard=()=>{
            $(".card").hide()
            $("#recent").show()
        }
        var now = new Date()
        var month = (now.getMonth() + 1)               
        var day = now.getDate()
        if (month < 10) 
            month = "0" + month
        if (day < 10) 
            day = "0" + day
        var today = now.getFullYear() + '-' + month + '-' + day
        $('input[name="date"]').val(today)
        $.ajax({
            url: "route/aclist",
            dataType: "JSON",
            success: function(result){
                console.log(result)
                $("#activity").append(result.activity)
                $("#location").append(result.location)
                $("#date").append(result.date)
                // $(".img-cont").append(result.image)
                result.selfMun ? showCard : hideCard()
            },
            error: function (request, status, error) {
                console.log(request.responseText);
            }
        })
        $("form").submit(function(e){
            e.preventDefault()
            console.log("example")
            const data = new FormData(this)
            if($(".row-active").length == 0 || $(".t-active").length == 0){
                Swal.fire({
                    title: 'Sorry!',
                    html: '<h5 style="margin: 0">Due to the lack of a team or vehicle, we are unable to provide service.</h5>',
                    icon: 'error',
                    showCancelButton: true,
                    confirmButtonText: 'ask help'
                }).then((result)=>{
                    if(result.isConfirmed){
                        $(".modal-form").width("25%")
                        $(".modal-head").children('h4').text('Ask for the help of this municipality')
                        $.ajax({
                            url: 'route/askhelp',
                            success: function(result){
                                $(".modal-body").html(result+
                                "<div class='f-width text-right mt-10 mb-5'><button class='btn-primary' id='help'>Submit</button></div>")
                                $("#municipality").children().each(function(){
                                    $(this).click(()=>{
                                        if($(this).attr('class') != 'municipality-active'){
                                            $(this).attr('class','municipality-active')
                                            .children()
                                            .children()
                                            .children().text('✅').attr('class','check')
                                        }else{
                                            $(this).attr('class','')
                                            .children()
                                            .children()
                                            .children().text('❏').attr('class','')
                                        }
                                    })
                                })
                                $("#help").click(()=>{
                                    insertact(false,data)
                                    $(".municipality-active").each(function(){
                                        $.ajax({
                                            url: 'route/sendrequest',
                                            type: 'POST',
                                            data: {id: $(this).attr('value')}
                                        })
                                    })
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'The request for help has been sent'
                                    })
                                    $(".close-modal").click()
                                    clearform()
                                })
                            }
                        })
                        $(".modal").css({
                            "display":"flex",
                            "justify-content":"center",
                        })
                    }
                })
            }else{
                console.log("Example else respp")
                insertact(true,data)
            }
        })

        function insertact(b,data){
            console.log("insertact")
            console.log(b+" : "+data)
            $.ajax({
                url: "route/inAc",
                type: "POST",
                data: data,
                dataType: "JSON",
                contentType: false,
                cache: false,
                processData: false,
                success: function(r){
                    console.log(r)
                    if(b) r.success ? success(r.id) : msg("aerror","Sorry we have a problem about the database connection")
                }, 
                error: function (request, status, error) {
                    console.log(request.responseText);
                }
            })
        }
        function success(aid){
            $(".t-active").each(function(){
                $.ajax({
                    url: 'route/rteam',
                    type: "POST",
                    data: {tid: $(this).attr('value'), aid: aid}
                })
            })
            $(".row-active").each(function(){
                $.ajax({
                    url: 'route/rveh',
                    type: "POST",
                    data: {id: $(this).attr('value'), aid: aid}
                })
            })
            msg("asuccess","The report has been sent")
            clearform()
            available()
        }
    })
</script>