<div class="tabcont">
    <button tab="report" class="tab tab-active">Report</button>
    <button tab="request" class="tab">Request <div class="notif"></div></button>
</div>
<table>
    <thead></thead>
    <tbody id="reporttable" style="cursor: pointer!important"></tbody>
</table>
<div id="summary" hidden class="mt-30">
    <div class="col-4 home">
        <h3 class="title">Full details</h3>
    </div>
    <div class="card">
        <div id="insidebutton" class="f-width text-right">
            <button id="response" class="btn-primary">Ask help</button>
            <button id="repres" class="btn-danger">Respond</button>
        </div>
        <form id="editreport">
            <button hidden id="updatereport" class="btn-primary">Update</button>
            <div class="row">
                <div class="col-6">
                    <h4>Receive call</h4>
                    <input class="form-control" disabled type="text" name="rcall" id="rcall">
                    <h4>Alarm status</h4>
                    <input class="form-control" disabled type="text" name="astatus" id="astatus">
                    <h4>Cause</h4>
                    <input class="form-control" disabled type="text" name="cause" id="cause">
                    <h4>Location</h4>
                    <input class="form-control" disabled type="text" name="loc" id="loc">
                    <h4>Teams</h4>
                    <input class="form-control" disabled type="text" name="teams" id="teams">
                    <h4>Dispatched</h4>
                    <input class="form-control" disabled type="text" name="dispatched" id="dispatched">
                    <h4>Arrival scene</h4>
                    <input class="form-control" disabled type="text" name="arrivalscene" id="arrivalscene">
                    <h4>Fire out</h4>
                    <input class="form-control" disabled type="text" name="fireout" id="fireout">
                </div>
                <div class="col-6">
                    <h4>Occupancy</h4>
                    <input class="form-control" disabled type="text" name="occupancy" id="occupancy">
                    <h4>Fatality</h4>
                    <input class="form-control" disabled type="text" name="fatality" id="fatality">
                    <h4>Damage</h4>
                    <input class="form-control" disabled type="text" name="damage" id="damage">
                    <h4>Returned unit</h4>
                    <input class="form-control" disabled type="text" name="returnedunit" id="returnedunit">
                    <h4>Commander</h4>
                    <input class="form-control" disabled type="text" name="commander" id="commander">
                    <h4>Commander contact</h4>
                    <input class="form-control" disabled type="text" name="commandercontact" id="commandercontact">
                    <h4>Sender</h4>
                    <input class="form-control" disabled type="text" name="sender" id="sender">
                    <h4>sender</h4>
                    <input class="form-control" disabled type="text" name="firetruck" id="firetruck">
                </div>
                <input type="text" hidden name="reportid" id="reportid">
            </div>
            <h4>Summary</h4>
            <textarea name="suma" id="suma" cols="30" rows="10"></textarea>
            <div class="f-width text-center" style="caret-color: transparent">
                <img style="width:50%; border-radius: 4px;" id="img-report" alt="">
            </div>
        </form>
    </div>
</div>

<script>
    $(function(){
        function tableclick(dis,i){
            var tcol = $("tbody>tr").eq(i).children()
            $("#reportid").val($("tbody>tr").eq(i).attr('id'))
            $("#img-report").attr("src","")
            $('.tractive').removeClass('tractive')
            $("tbody>tr").eq(i).attr('class','tractive')
            aid = $("tbody>tr").eq(i).attr('value')
            $("#astatus").val(tcol.eq(0).text())
            $("#cause").val(tcol.eq(1).text())
            $("#loc").val(tcol.eq(2).text())
            $("#teams").val(tcol.eq(3).text())
            $("#suma").val(tcol.eq(4).text())
            if($("tbody>tr").eq(i).children().eq(5).text() != ""){
                $("#img-report").attr("src",$("tbody>tr").eq(i).children().eq(6).text())
            }
            $("#rcall").val(tcol.eq(7).text())
            $("#dispatched").val(tcol.eq(8).text())
            $("#arrivalscene").val(tcol.eq(9).text())
            if(tcol.eq(10).text() == 2) $("#insidebutton").hide()
            else $("#insidebutton").show()
            $("#fireout").val(tcol.eq(11).text())
            $("#occupancy").val(tcol.eq(12).text())
            $("#fatality").val(tcol.eq(13).text())
            $("#damage").val(tcol.eq(14).text())
            $("#returnedunit").val(tcol.eq(15).text())
            $("#commander").val(tcol.eq(16).text())
            $("#commandercontact").val(tcol.eq(17).text())
            $("#sender").val(tcol.eq(18).text())
            $("#firetruck").val(tcol.eq(19).text())
            if(dis){
                $("#summary").show()
            }
            else{
                $(".modal").css({
                    "display":"flex",
                    "justify-content":"center",
                })
                $(".modal-body").html($(".card").html())
            }
        }
        let aid = 0,
        ctable = (id)=>{
            tableclick(true,id)
        },
        hidetab = (id)=>{
            tableclick(false,id)
            $(".modal-form").width("70%")
            $(".modal-head").children('h4').text('Full details')
            $(".tabcont").hide()
        }, 
        response = ()=>{
            console.log("response")
            $.ajax({
                url: "route/getAvailable",
                success: function(data){
                    data += "<div class='f-width text-right mt-10 mb-5'><button id='deploy' class='btn-danger'>Deploy</button></div>"
                    $(".modal-body").html(data)
                    $("#vehicle").children().each(function(){
                        $(this).click(function(){
                            if($(this).attr('class') != 'row-active'){
                                $(this).attr('class','row-active')
                                .children()
                                .children()
                                .children().text('✅').attr('class','check')
                            }else{
                                $(this).attr('class','')
                                .children()
                                .children()
                                .children().text('❏').attr('class','')
                            }
                        })
                    })

                    $(".bc").children().each(function(){
                        let b = true
                        $(this).click(function(){
                            if(b){
                                b = false
                                $(this).children().addClass('t-active')
                            }else{
                                b = true
                                $(this).children().removeClass('t-active')
                            }
                        })
                    })

                    $("#deploy").click(function(){
                        if($(".row-active").length == 0 || $(".t-active").length == 0){
                            swal.fire('Sorry!','Due to the lack of a team or vehicle, we are unable to provide service.','error')
                        }else{
                            $(".t-active").each(function(){
                                ajaxPost({url: 'route/rteam', data: {tid: $(this).attr('value'), aid: aid}})
                            })
                            $(".row-active").each(function(){
                                ajaxPost({url: 'route/rveh', data: {id: $(this).attr('value'), aid: aid}})
                            })

                            ajaxPost({url: 'route/response', data: {id: aid}})
                            $(".close-modal").click()
                            swal.fire('The team will be sent out.')
                        }
                    })
                }
            })
            return {width: '40%', text: 'Team & Vehicle available'}
        },
        ajaxPost = (p)=>{
            $.ajax({
                url: p.url,
                type: 'POST',
                data: p.data
            })
        },
        askhelp = ()=>{
            $.ajax({
                url: 'route/askhelp',
                success: function(result){
                    $(".modal-body").html(result+
                        "<div class='f-width text-right mt-10 mb-5'><button class='btn-primary' id='help'>Submit</button></div>")
                    $("#municipality").children().each(function(){
                        $(this).click(()=>{
                            if($(this).attr('class') != 'municipality-active'){
                                $(this).attr('class','municipality-active')
                                .children()
                                .children()
                                .children().text('✅').attr('class','check')
                            }else{
                                $(this).attr('class','')
                                .children()
                                .children()
                                .children().text('❏').attr('class','')
                            }
                        })
                    })
                    $("#help").click(()=>{
                        $(".municipality-active").each(function(){
                            $.ajax({
                                url: 'route/sendrequest',
                                type: 'POST',
                                data: {id: $(this).attr('value')}
                            })
                        })
                        swal.fire({
                            icon: 'success',
                            title: 'The request for help has been sent'
                        })
                        $(".close-modal").click()
                    })
                }
            })
            return {width: '25%', text: 'Ask for the help of this municipality'}
        },
        modal = (type)=>{
            const get = type ? response() : askhelp()
            $(".modal").css({"display":"flex","justify-content":"center"}).children().css('width',get.width)
            $(".modal-head>h4").text(get.text)
        }

        function fetch(type){
            console.log("exmaple")
            $.ajax({
                url:"route/getReport",
                type: 'POST',
                dataType: "JSON",
                data: {type: type},
                success: function(result){
                    console.log("this is reports for this month "+result.thead)
                    $("table>thead").html(result.thead)
                    $("table>tbody").html(result.tbody)
                    $(".view").each(function(i){
                        $(this).click(()=>{
                            $(".form-control").each(function(){
                                $(this).prop('disabled','true')
                            })
                            $("#suma").prop('disabled','true')
                            $("#updatereport").hide()
                            result.clickable ? ctable(i) : hidetab(i)
                        })
                    })
                    $(".update").each(function(i){
                        $(this).click(()=>{
                            $("#updatereport").show()
                            result.clickable ? ctable(i) : hidetab(i)
                            $("#insidebutton").hide()
                            $(".form-control").each(function(){
                                $(this).prop('disabled',false)
                            })
                            $("#suma").prop('disabled',false)
                            
                            $("#editreport").on('submit',function(e){
                                e.preventDefault()
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: "You won't be able to revert this!",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'Yes, delete it!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        $.ajax({
                                            url: 'route/upAc',
                                            type: 'POST',
                                            data: new FormData(this),
                                            dataType: "JSON",
                                            contentType: false,
                                            cache: false,
                                            processData: false,
                                            success: function(r){
                                                fetch(1)
                                            },
                                            error: function (request, status, error) {
                                            }
                                        })
                                    }
                                })
                            })
        
                        })
                    })
                },
                error: function (request, status, error) {
                    console.log(request.responseText)
                }
            })
        }
        fetch(0)
        $(".tab").click(function(){
            $(".tab-active").removeClass('tab-active')
            $("#summary").hide()
            $(this).addClass('tab-active')
            if($(this).attr('tab') == 'report'){
                $("#response").text('Ask help')
                $("#repres").show()
                fetch(0)
            }else{
                $("#response").text('Respond')
                $("#repres").hide()
                fetch(1)
            }
        })

        $("#repres").click(()=>{
            modal(true)
        })

        $("#response").click(function(){
            modal($(this).text() == 'Respond')
        })
    })
</script>