<table>
    <thead>
        <tr>
            <th>INCIDENT TYPE</th>
            <th>LOCATION</th>
            <th>RESPONDING TEAM</th>
            <th>STATUS OF INCIDENT</th>
        </tr>
    </thead>
    <tbody style="cursor: pointer">
        
    </tbody>
</table>
<div id="summary" hidden class="mt-30">
    <div class="col-4 home">
        <h3 class="title">Summary</h3>
    </div>
    <div class="card">
        <p></p>
        <div class="f-width text-center">
            <img style="width:50%; border-radius: 4px;" id="img-report" alt="">
        </div>
        <div class="f-width text-right">
            <button id="response" class="btn-primary">Response</button>
        </div>
    </div>
</div>

<script>
    $(function(){
        $.ajax({
            url:"route/getReport",
            success: function(result){
                $("table tbody").html(result)
                $("tbody>tr").click(function(){
                    $("#summary")
                    .show()
                    .children('.card')
                    .children('p')
                    .text($(this).children().eq(4).text())
                    if($(this).children().eq(5).text() != ""){
                        $("#img-report").attr("src",$(this).children().eq(5).text())
                    }
                })
            }
        })

        $("#response").click(function(){
            $(".modal").show()
        })
    })
</script>