.header{
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.103), rgba(0, 0, 0, 0.103)), url("../img/ft.jpg");
    background-position: center;
}

body{
    background-color: #ECF8F9;
}


#body-logo{
    height: 90px;
}

.col-2, .col-8{
    cursor: pointer;
}

.col-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-body{
    max-width: 700px;
    margin: auto;
}


.nav{
    display: flex;
    margin: auto;
    z-index: 50;
}

#container{
    flex: 1 1 auto;
    padding: 0 15px;
    overflow: auto;
    margin: 40px 7px 0 7px;
    border-radius: 7px;
    border-collapse: collapse;
}

.nav li, .nav li button{
    margin: 0 15px;
    font-weight: 550;
    font-size: 14px;
    color: #111;
    display: block;
    padding: 3px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.drp-dwn{
    border: none;
    background-color: #1b1b1b00;
    margin: 0!important;
    padding: 0!important;
}

.active, .active .drp-dwn{
    background-color: #7E1717;
    color: white!important;
}

.nav li:hover{
    background-color: #7e171743;
}

.nav li ul{
    display: none;
    position: absolute;
    padding: 3px 0;
    width: fit-content;
    box-shadow: 1px 1px 3px gray;
    background-color: white;
    border-radius: 4px;
}

.nav li:hover ul{
    display: block;
}

li{
    position: relative;
    cursor: pointer;
    caret-color: transparent;
}


.nav li ul li{
    position: relative;
    padding: 4px 7px;
    margin: 3px;
}

.nav>li:hover>.notif{
    display: none;
}

table {
    border-collapse: collapse;
    margin-top: 7px;
    width: 100%;
    border-bottom: 1px solid #a1a1a1;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: #068DA9;
    color: white;
    text-shadow: 0 1px 3px black;
}

th, td{
    caret-color: transparent;
}

th{
    padding: 7px;
}
tbody tr{
    background-color: #ffffffe1;
}

.img-wrapper{
    width: 50%;
    margin: auto;
}

#summaryimg{
    border-radius: 3px;
    max-height: 300px;
}

#custom-btn, #team{
    padding: 5px 30px;
    font-weight: 550;
    border-radius: 17px;
}

#custom-btn{
    border: 1px solid #7E1717;
    background: none;
    color: #7E1717;
}

#team{
    color: #E55807;
    background: none;
    border: 1px solid #E55807;
    margin-right: 10px;
}


.t-active{
    background-color: #01a5f1;
    color: white!important;
}

.table-div{
    display: flex;
    justify-content: space-between;
}

#custom-btn:hover{
    border: 1px solid #e40e0e;
    color: #320a0a;
}
#team:hover{
    border: 1px solid #ff6a14;
    color: #5a2506;
}

td{
    padding: 5px 9px;
    text-align: center;
}

tbody tr:nth-child(even){
    background-color: #ECF8F9;
}

.table-text-left>thead>tr>th, .table-text-left>tbody>tr>td{
    text-align: left;
}

.btn-bottom-border{
    width: 150px;
    padding: 4px;
    font-weight: 550;
    font-size: 17px;
    color: #111;
    margin: 5px;
}
