body, html{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:after, *:before{
    box-sizing: border-box;
}

.form-control{
    position: relative;
    padding: 4px;
    flex: 1 1 auto;
    font-size: 15px;
}

.label-lg{
    font-size: 23px;
    font-weight: 550;
}

.label-sm{
    width: 100px;
    text-align: left;
    margin-right: 10px;
}

.btn-default{
    padding: 5px 9px;
    background-color: black;
    color: #ddd;
    border-radius: 15px;
}

.text-right{
    text-align: right;
}

.form-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
}
@media screen and (max-width: 600px){
    .form-group{
        display: block!important;
    }

    .text-right{
        text-align: center;
    }
    .form-header h3{
        font-size: 13px;
    }
}