body, html{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container::-webkit-scrollbar {
    width: 10px;
}

#container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

#container::-webkit-scrollbar-track {
    background: #f1f1f100; 
}

*, *:after, *:before{
    box-sizing: border-box;
    transition: 0.5s;
}

.form-control{
    position: relative;
    flex: 1 1 auto;
    font-size: 15px;
}

.cont-row{
    margin: 0 27px 0 7px;
}

.flex-col{
    flex-direction: column;
}

.form-control, select{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}

.error{
    font-size: 10px;
    color: red;
    width: 100%;
    position: relative;
    display: none;
    margin-top: 4px;
    text-align: center;
}

.label-lg{
    font-size: 23px;
    font-weight: 550;
}

.btn-danger{
    padding: 5px 15px;
    background-color: rgb(247, 2, 2);
    border: none;
    color: white;
    font-weight: 550;
    border-radius: 15px;
    height: fit-content;
}

.label-sm{
    text-align: left;
    margin-right: 10px;
    font-weight: bold;
}

.w-100{
    width: 100px;
}

.btn-default{
    padding: 5px 15px;
    background-color: black;
    color: #ddd;
    border-radius: 15px;
    height: fit-content;
}

.btn-primary{
    padding: 5px 15px;
    background-color: rgb(2, 129, 247);
    border: none;
    color: white;
    font-weight: 550;
    border-radius: 15px;
    height: fit-content;
}

.btn-w90{
    width: 90px!important;
}

.text-right{
    text-align: right;
}

.f-width{
    width: 100%;
}

.text-center{
    text-align: center;
}

.form-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    text-align: left;
}

.hv-center{
    align-items: center;
}

.title{
    color: white;
    text-shadow: 0 1px 3px black;
    text-align: center;
    flex: 1 1 auto;
    margin-top: 3px;
}

.header{
    padding: 7px;
    display: flex;
    align-items: center;
}

.logo{
    height: 100px;
}

.mr-3{
    margin-right: 30px;
}

.body{
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    background-color: white;
    flex-direction: column;
}

.welcome{
    width: 100%;
    display: flex;
    padding: 15px;
}

#logout{
    position: absolute;
    right: 10px;
    margin-top: 10px;
}

.flex-body{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    margin: 10px;
    box-shadow: 1px 0 3px gray;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
}

.box-shadow{
    box-shadow: 1px 0 3px gray;
}

.card p{
    text-align: justify;
}

.h-card{
    height: fit-content;
    overflow: hidden;
    text-align: center;
}
.h-card h4{
    margin: 3px;
    font-weight: 550;
    color: #111;
}

.h-card:hover{
    transform: scale(1.05);
}

.flex-body .col-2{
    width: 20%;
    position: relative;
    flex: 27%;
}

.card img{
    position: relative;
    width: 100%;
}

.welcome p{
    font-weight: 550;
    color: #111;
    flex: 1 1 auto;
    text-align: center;
}

.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
    
}

.p-justify{
    text-align: justify;
}

.col-4{
    position: relative;
    width: 33.33%;
}

.img-cont div{
    padding: 3px;
    overflow: hidden;
}

.img-cont div img{
    width: 100%;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.678);
    border-radius: 4px;
}

.img-cont div img:hover{
    scale: 1.03;
}

.home{
    text-align: center;
    margin: 7px;
}

.home .title{
    background-color: #0d4b92ea;
    padding: 7px;
}

.mt-30{
    margin-top: 30px;
}

.mt-10{
    margin-top: 10px;
}

.mb-5{
    margin-bottom: 5px;
}

.home p{
    background-color: #59C1BDDA;
    padding: 4px;
    font-weight: 550;
    margin-top: -5px;
    color: #111;
}

.col-6{
    width: 50%;
}

.flex-col{
    flex-direction: column;
}

.container{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1070px;
    width: 85%;
    height: 100vh;
    box-shadow: 1px 0 4px gray;
}

textarea{
    width: 100%;
    transition: 0s !important;
    resize: none;
}

.alert{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
    max-width: 300px;
    overflow: hidden;
    border-radius: 3px;
    transition: 1.5s;
    animation: 0.5s slideleft none linear;
    cursor: default;
}

.modal{
    position: fixed;
    top: 0;
    padding-top: 15px;
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    display: none;
    z-index: 100;
}

@keyframes showingmodal {
    0%{
        transform: scale(0);
    }
    65%{
        transform: scale(1.05);
    }
    85%{
        transform: scale(0.98);
    }
}

.modal-form{
    background-color: white;
    border-radius: 4px;
    margin: auto;
    width: fit-content;
    transition: 0.7s;
    animation: 0.7s showingmodal none linear;
}

.delete-icon, .delete-icon:after{
    height: 13px;
    width: 3px;
    background-color: #333;
}

.close-modal{
    padding: 5px;
}

.delete{
    position: absolute;
    display: none;
    right: 4px;
    top: 0;
    padding: 5px;
}

.grid-body>.col-4:hover .delete{
    display: flex;
} 

.delete-icon{
    transform: rotate(45deg);
}

.delete-icon:after{
    content: "";    
    display: block;
    transform: rotate(90deg);
}

.modal-head{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c7c7c7;
}

.modal-head, .modal-body{
    padding: 4px 10px;
}

.right{
    float: right;
    margin-top: 5px;
}


@keyframes slideleft{
    0%{ 
        right: -100px;
        transform: skew(0, 0);
    }
    90%{ 
        right: 10px; 
        transform: skew(30deg, 0);
    }
    100%{
        right: 10px; 
        transform: skew(0, 0);
    }
}

h4{
    color: #333;
    line-height: 3px;
}

.aerror{
    padding: 10px;
    display: flex;
    background-color: hsla(0, 87%, 63%, 0.917);
    color: white;
    
}

.asuccess{
    padding: 10px;
    background-color: rgba(38, 212, 243, 0.917);
}

select{
    padding: 4px;
    width: 100px;
}

.grid-cont>.grid-body{
    display: flex;
    flex-wrap: wrap;
}

.grid-title{
    color: #333;
}

.bubble{
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 4px gray;
    background-color: white;
    z-index: 86;
    border-radius: 4px;
    height: 0;
    overflow: hidden;
}

.bubble>b{
    position: relative;
    display: flex;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 4px;
}

.bubble>h4{
    margin: 3px 4px 11px 4px;
}

h4, h3{
    cursor: context-menu;
}

.bubble>a:hover{
    color: #eee;
    background-color: #0249a7;
}

.grid-body>div>p{
    padding: 4px;
    margin: 3px;
    text-align: center;
    font-weight: 550;
    color: #111;
    border-radius: 5px;
    cursor: pointer;
}

.bcc>div>p{
    background-color: #b0f7f3;
}

.bc>div>p{
    border: 1px solid #01a5f1;
}

@media screen and (max-width: 900px){
    .container{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .form-group{
        display: block!important;
    }

    .text-right{
        text-align: center;
    }
    .form-header h3{
        font-size: 13px;
    }
}