<div class="container">
    <style>
        *{
            caret-color: transparent;
        }
    </style>
    <div class="header">
        <img src="../assets/img/logo.png" alt="" class="logo mr-3">
        <h1 class="title">BUREAU OF FIRE PROTECTION
            <br>OPERATION MONITORING SYSTEM</h1>
            <div class="login-div">
                <h5>LOGGED IN AS : <br>Fire Officer <i id="badge"></i></h5>
            </div>
    </div>
    <div style="background-image: linear-gradient(to bottom, #ffffff4f,#ffffffd1), url('../assets/img/backgroundimg.png');" class="body">
        <button id="logout" class="btn-default btn-w90">Log out</button>
        <div class="welcome">
            <P>WELCOME TO THE BFP OPERATION MONITORING SYSTEM</P>
        </div>
        <div  class="flex-body">
            <div class="row">
                <div id="left" class="col-2"></div>
                <div id="mid" class="col-8" style="display: flex; align-items:center"></div>
                <div id="right" class="col-2"></div>
            </div>
        </div>
    </div>
</div>