<div class="container">
    <style>
        *{
            caret-color: transparent;
        }
    </style>
    <div class="header">
        <img src="../assets/img/logo.png" alt="" class="logo mr-3">
        <h1 class="title">BUREAU OF FIRE PROTECTION 
            <br>OPERATION MONITORING SYSTEM</h1>
    </div>
    <div class="body">
        <button id="logout" class="btn-default btn-w90">Log out</button>
        <div class="welcome">
            <P>WELCOME TO THE BFP OPERATION MONITORING SYSTEM</P> 
        </div>
        <div class="flex-body">
            <div id="Baganga" class="col-2 card h-card">
                <img src="../assets/img/baganga.png">
                <h4>Baganga</h4>
            </div>
            <div id="Cateel" class="col-2 card h-card">
                <img src="../assets/img/cateel.png">
                <h4>Cateel</h4>
            </div>
            <div id="Gov" class="col-2 card h-card">
                <img src="../assets/img/govgen.png">
                <h4>Gov. Gen</h4>
            </div>
            <div id="Mati" class="col-2 card h-card">
                <img src="../assets/img/mati.png">
                <h4>Mati</h4>
            </div>
            <div id="Lupon" class="col-2 card h-card">
                <img src="../assets/img/lupon.png">
                <h4>Lupon</h4>
            </div>
            <div id="Tarragona" class="col-2 card h-card">
                <img src="../assets/img/tarragona.png">
                <h4>Tarragona</h4>
            </div>
        </div>
    </div>
</div>