<link rel="stylesheet" href="../assets/css/login.css">
<link rel="stylesheet" href="../assets/css/style.css">
<div class="login-form">
    <div class="form-header">
        <img src="../assets/img/logo.png" alt="" srcset="">
        <h3 class="title">BUREAU OF FIRE PROTECTION <br>OPERATION MONITORING SYSTEM</h3>
    </div>
    <div class="form-body">
        <form>
            <label class="label-lg">LOGIN</label>
            <div class="form-group">
                <label class="label-sm">Username</label>
                <input type="text" required id="username" class="form-control col">
            </div>
            <div class="form-group">
                <label class="label-sm">Password</label>
                <div style="position:relative; flex: 1 1 auto">
                    <input type="password" required id="password" style="width: 100%" class="form-control">
                    <label class="error">Your password is invalid</label>
                </div>
            </div>
            <div class="text-right mt-1">
                <button id="login" class="btn-default btn-w90">Login</button>
                <button id="signup" type="button" class="btn-default btn-w90">Sign Up</button>
            </div>
        </form>
    </div>
</div>