<div class="container">
    <div class="header">
        <img src="../assets/img/logo.png" class="logo mr-3">
        <h1 class="title">BUREAU OF FIRE PROTECTION <br>OPERATION MONITORING SYSTEM</h1>
    </div>
    <div class="body">
        <button id="logout" class="btn-default btn-w90">Log out</button>
        <img alt="city" id="body-logo">
        <div class="welcome">
            <ul class="nav">
                <li class="menu active">HOME</li>
                <li><button class="drp-dwn">STATUS</button>
                    <ul>
                        <li>PERSONNEL STATUS</li>
                        <li>VEHICLE STATUS</li>
                        <li>INCIDENT STATUS</li>
                    </ul>
                </li>
                <li class="menu">REPORTS</li>
                <li class="menu">ABOUT</li>
            </ul>
        </div>
        <div id="container">
        </div>
    </div>
</div>