<link rel="stylesheet" href="../assets/css/login.css">
<link rel="stylesheet" href="../assets/css/style.css">
<div class="login-form">
    <div class="form-header">
        <img src="../assets/img/logo.png" alt="" srcset="">
        <h3>BUREAU OF FIRE PROTECTION <br>OPERATION MONITORING SYSTEM</h3>
    </div>
    <div class="form-body">
        <form action="/submit-signup" method="post">
            <label class="label-lg">LOGIN</label>
            <div class="form-group">
                <label class="label-sm">Username</label>
                <input type="text" required name="password" id="" class="form-control">
            </div>
            <div class="form-group">
                <label class="label-sm">Password</label>
                <input type="password" required name="password" id="" class="form-control">
            </div>
            <div class="form-group">
                <label class="label-sm">Confirm</label>
                <input type="password" required name="password" id="" class="form-control">
            </div>
            <div class="form-group">
                <label class="label-sm">First name</label>
                <input type="text" required name="password" id="" class="form-control">
            </div>
            <div class="form-group">
                <label class="label-sm">Middle name</label>
                <input type="text" required name="password" id="" class="form-control">
            </div>
            <div class="form-group">
                <label class="label-sm">Last name</label>
                <input type="text" required name="password" id="" class="form-control">
            </div>
            <div class="text-right mt-1">
                <button id="signup" type="button" class="btn-default btn-w90">Sign Up</button>
            </div>
        </form>
    </div>
</div>