<div class="login-form">
    <div class="form-header">
        <img src="../assets/img/logo.png" alt="" srcset="">
        <h3 class="title">BUREAU OF FIRE PROTECTION <br>OPERATION MONITORING SYSTEM</h3>
    </div>
    <div class="form-body">
        <form>
            <label class="label-lg">SIGN UP</label>
            <div class="form-group">
                <label class="label-sm w-100">Username</label>
                <input type="text" required name="username" class="form-control">
            </div>
            <div class="form-group">
                <label class="label-sm w-100">Password</label>
                <input type="password" required name="password" class="form-control">
            </div>
            <div class="form-group">
                <label class="label-sm w-100">Confirm</label>
                <div style="position:relative; flex: 1 1 auto">
                    <input type="password" required name="confirmation" style="width: 100%" class="form-control">
                    <label class="error">Your confirmation password is not same</label>
                </div>
            </div>
            <div class="form-group">
                <label class="label-sm w-100">First name</label>
                <input type="text" required name="firstname" class="form-control">
            </div>
            <div class="form-group">
                <label class="label-sm w-100">Middle name</label>
                <input type="text" required name="middlename" class="form-control">
            </div>
            <div class="form-group">
                <label class="label-sm w-100">Last name</label>
                <input type="text" required name="lastname" class="form-control">
            </div>
            <div class="form-group">
                <label class="label-sm w-100">Municipality</label>
                <select name="municipality" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <label class="label-sm w-100">User type</label>
                <div class="card">
                    <label><input type="radio" required value="admin" name="usertype">Admin</label>
                    <label><input type="radio" value="personnel" name="usertype">Personnel</label>
                </div>
            </div>
            <div class="text-right mt-1">
                <button id="signup" class="btn-default btn-w90">Sign Up</button>
            </div>
        </form>
    </div>
</div>